{% extends 'CalderaStvoBundle::layout.html.twig' %}


{% block breadcrumb %}

{% endblock %}

{% block content %}
    <div class="container mt-3 diff">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>
                            StVO-Vergleich
                        </h1>
                    </div>
                </div>

                {{ form_start(diffForm) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(diffForm.oldVersion, { attr: { class: 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(diffForm.newVersion, { attr: { class: 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-xs-center">
                        <button type="submit" class="btn btn-primary">
                            Vergleichen
                        </button>
                    </div>
                </div>
                {{ form_end(diffForm) }}
            {% for line in diffedLines %}
                <div class="row mb-1">
                    {% if line.hasChanged %}
                        <div class="col-md-6 old">
                            <ul class="list-unstyled">
                                {{ line.oldLines|join|raw }}
                            </ul>
                        </div>
                        <div class="col-md-6 new">
                            <ul class="list-unstyled">
                                {{ line.newLines|join|raw }}
                            </ul>
                        </div>
                    {% else %}
                        <div class="col-md-12 unchanged">
                            <ul class="list-unstyled">
                                {{ line.text|raw }}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}